<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
    crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">Search For Gazettes..</div>
      <div class="card bg-light text-dark">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <form action="">
                <div class="row justify-content-md-center">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="section">Section:</label>
                      <select class="form-control selcls" id="section">
                        <option>Pharmaceuticals</option>
                        <option>Land</option>
                        <option>Railway</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Date:</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-1 align-self-end">
                    <div class="form-group">
                      <button type="submit" class="btn btn-success">Search</button>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>